{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <div class="h4">
                Задействованные технологии
              </div> 
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Python 3.8.5<br>
                  Django 2.2.6<br>
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>Проект написан на языке Python с применением средств Django.</p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}