{% extends "base.html" %}
{% block title %}Подписки{% endblock %}
{% block content %}



<div class="container">
{% include "posts/menu.html" with follow=True %}
  {% load cache %}
    {% cache 20 follow_page page.number %}
    <h1> Последние обновления на сайте</h1>
     <!-- Вывод ленты записей -->
         {% for post in page %}
             {% include "posts/post_item.html" with post=post %}
         {% endfor %}
  {% endcache %}
</div>

 <!-- Вывод паджинатора -->
 {% if page.has_other_pages %}
     {% include "paginator.html" with items=page paginator=paginator%}
 {% endif %}

{% endblock %}